<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left-aligned menu -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/"><i class="fa-solid fa-compass me-2"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">AllListings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/listings/new">AddNewListing</a>
                </li>
            </ul>

            <!-- Right-aligned buttons -->
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <button type="button" class="btn btn-success me-2">Sign Up</button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-success me-2">Log In</button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-danger">Log Out</button>
                </li>
            </ul>
        </div>
    </div>
</nav>